@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f5f8ff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Lugrasimo', cursive;
    z-index: 100;
}

nav .navbar {
    height: 100%;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav .navbar .logo a img{
    width: 120px;
}

nav .navbar .nav-links {
    line-height: 70px;
}

nav .navbar .nav-links .links {
    display: flex;
}

nav .navbar .nav-links .links li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 14px;
}

nav .navbar .nav-links .links li a {
    position: relative;
    height: 100%;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 900;
}

nav .navbar .nav-links .links li a h2 {
    font-size: 19px;
}

nav .navbar .nav-links .links li a::before {
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    background: #333;
    bottom: 25px;
    left: -10px;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: center;
    transition: all .3s;
}

nav .navbar .nav-links .links li a:hover::before {
    transform: scale(1);
    transition: all .3s;
}

nav .navbar .nav-links .links li .arrow {
    height: 100%;
    width: 22px;
    text-align: center;
    color: #333;
    line-height: 70px;
    transition: all 0.3s ease;
}

nav .navbar .nav-links .links li:hover .catalogo-arrow {
    transform: rotate(180deg);
}

nav .navbar .nav-links .links .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    background: #fff;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

nav .navbar .nav-links .links .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(31, 31, 31, 0.3);
}

nav .navbar .nav-links .links .sub-menu li a {
    font-size: 15px;
    font: 500;
}

nav .navbar .nav-links .links li:hover .cata-sub-menu {
    display: block;
}

.navbar .bx-menu {
    display: none;
}

.navbar .bx-menu, 
.nav-links .sidebar-logo .bx-x,
.nav-links .sidebar-logo img {
    display: none;

}

.Revendedor {
    border: none;
    background: transparent;
    margin: 15px 0;
    transition: .2s;
}

.Revendedor a {
    text-decoration: none;
    color: #333;
    font-size: 19px;
    font: 500;
    margin: 1px;
    padding: 1px;
    transition: .2s;
}

.Revendedor:hover a {
    border-bottom: 2px solid #2b3273;
    transition: .2s;
}

.Revendedor:hover {
    border-bottom: 3px solid #2b3273;
    transition: .2s;
    
}

footer {
    position: relative;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: #f5f5f5;
    background: #000;
}

.footer-content {
    background: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer-contacts .logo-footer {
    margin-bottom: 0.75rem;
    width: 120px;
}

.footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-social-media .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: #333;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.footer-social-media .footer-link .bx {
    font-size: 25px;
}

.footer-social-media .footer-link:hover {
    transform: translateY(-5px);
    transition: .5s;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #a8a29e;
}

.footer-list .footer-link:hover {
    color: #fff;
    transition: 0.3s;
}


.footer-list .footer-link-contact a {
    text-decoration: none;
    color: #a8a29e;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-list .footer-link-contact a p {
    font-size: 16px;
}

.footer-list .footer-link-contact a .bx {
    font-size: 26px;
}

.footer-list .footer-link-contact:hover a .bx {
    color: #00f22c;
}

.footer-list .footer-link-contact:hover a p {
    color: #fff;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

form input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #a8a29e;
    outline: none;
    padding: 5px 10px;
    background: transparent;
    color: #fff;
}

form input::placeholder,form textarea::placeholder {
    color: #fff;
}

form textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #a8a29e;
    resize: none;
    outline: none;
    padding: 5px 10px;
    color: #fff;
}

.submit {
    position: relative;
    width: 150px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #a8a29e;
    margin-top: 5px;
    transition: .5s;
}

.submit:hover {
    transform: translateY(-5px);
    transition: .5s;
    background: #fff;
    color: #333;
}

.Copyright {
    position: relative;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: #000;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .Copyright img {
    width: 60px;
    margin-bottom: 20px;
}

footer .Copyright p , footer .Copyright h1 {
    font-size: 12px;
    font-weight: 800;
}


@media (max-width:954px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a img{
        width: 100px;
    }

    nav .navbar .nav-links .links li {
        padding: 0 14px;
        font-weight: 900;
    }
    
    nav .navbar .nav-links .links li a {
        font-size: 15px;
        font-weight: 900;
    }
}




@media (max-width:768px) {

    nav .navbar .nav-links {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.359);
    }

    nav .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #333;
    }

    .navbar .bx-menu, 
    .nav-links .sidebar-logo .bx-x {
        color: #333;
        font-size: 25px;
        font-weight: 500px;
        display: block;
    }

    .nav-links .sidebar-logo img {
        width: 100px;
        display: block;
    }

    nav .navbar .nav-links .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .nav-links .links li {
        display: block;
    }

    nav .navbar .nav-links .links .sub-menu {
        position: relative;
        top: 0px;
        left: 0px;
        line-height: 40px;
        box-shadow: none;
        display: none;
    }

    nav .navbar .nav-links .links li:hover .cata-sub-menu {
        display: none;
    }

    nav .navbar .nav-links .links li .arrow {
        line-height: 40px; 
    }

    nav .navbar .nav-links .links li:hover .catalogo-arrow {
        transform: rotate(0deg);
    }

    nav .navbar .nav-links.show1 .links .sub-menu.cata-sub-menu {
        display: block;
    }

    nav .navbar .nav-links.show1 .links li .catalogo-arrow {
        transform: rotate(180deg);
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width:426px) {

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}